@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800);* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body {
  font-family: 'Raleway', sans-serif;
  background-color: #f1f1f1 !important;
}

html {
  overflow: auto;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF;
}

/* Scrollbar styling */

::-webkit-scrollbar {
  position: absolute;
  background-color: transparent;
  border-radius: 6px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 10px;
  opacity: 0;
  width: 15px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #aaa;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
}

.main {
  padding: 16px;
  margin-top: 34px;
}

.navbar {
  background: #1e222c;
}

.nav-brand {
  margin: -.25em 0 0 2em;
  float: left;
  color: #FFFFFF;
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 1.15em;
  font-weight: 700;
  letter-spacing: 4px;
}

.nav-brand:hover {
  color: #34b2a7;
}

.timer-padding {
  margin: 1em 0;
  position: fixed;
  top: 7%;
  left: 90%;
  width: 100%;
  background: none;
}

.timer-padding img {
  height: 32px;
  width: 32px;
}

.timer-padding #timer {
  font-size: 1.25em;
  color: #1e222c;
  line-height: 5px;
  letter-spacing: .25em;
  font-weight: 700;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
}

#navbarSupportedContent ul li {
  margin-left: 2em;
}

#navbarSupportedContent .dropdown {
  position: relative;
  display: inline-block;
}

#navbarSupportedContent .dropdown .dropdown-toggle {
  color: #FFFFFF;
}

#navbarSupportedContent .dropdown img {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}

#navbarSupportedContent .dropdown a {
  text-decoration: none;
}

#navbarSupportedContent .dropdown .dropdown-content {
  float: left;
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  border-radius: .3em;
  min-width: 170px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#navbarSupportedContent .dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#navbarSupportedContent .dropdown-content a:hover {
  background-color: #ddd;
}

#navbarSupportedContent .dropdown:hover .dropdown-content {
  display: block;
  border-radius: .3em;
}

#navbarSupportedContent .dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#workspace {
  background-color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  padding: 40px;
  width: 100%;
}

#workspace h2 {
  display: inline;
}

#workspace hr {
  width: 102.2%;
}

#workspace .hotKeys {
  float: right;
  background: #34b2a7;
  border: 1px solid #34b2a7;
  border-radius: .2em;
  padding: 3px 8px;
  margin: 8px -30px 0 0;
  cursor: pointer;
  color: #FFFFFF;
}

#workspace .hotKeys:hover {
  color: #34b2a7;
  background: #FFFFFF;
}

#workspace highlight {
  font-weight: bold;
  color: #34b2a7;
  text-transform: capitalize;
}

.tab {
  display: none;
}

.image-wrapper {
  float: left;
  width: 60%;
  border: 1px solid #EDEDED;
  padding: 4px;
  background-color: #F6F8FB;
  position: relative;
  overflow: hidden;
  height: 800px;
}

.image-wrapper img {
  vertical-align: middle;
}

.bib-wrapper {
  float: right;
  width: 38%;
  position: fixed;
  right: 2%;
  background-color: #F6F8FB;
  padding: 10px 10px 14px 10px;
  border: 1px solid #E9E9E9;
}

.bib-wrapper h3 {
  padding: 5px 0;
}

.bib-wrapper .info-box {
  font-size: 13px;
  line-height: 23px;
  padding: 5px 10px;
  background: #f0faff;
  border: 1px solid #c5dfea;
  margin: 10px 0 24px 0;
}

.bib-wrapper .info-box p {
  margin: 0;
  color: #000;
  padding: 0;
}

.bib-wrapper .fieldToolbar {
  color: #000;
  font-size: 12px;
  line-height: 14px;
  margin: 8px 5px 0 10px;
}

.bib-wrapper .fieldToolbar .labelToolbar {
  padding: 0 10px 16px 0;
  border-radius: 2px;
  color: #000;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: default;
  margin: 0 auto;
}

.bib-wrapper .fieldToolbar .btnImageNav {
  background: none;
  border: none;
  padding: 0 5px;
  display: inline-block;
  border-radius: 2px;
  color: #000;
  margin-top: -.5em;
  margin-left: 1em;
  font-size: 1em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.bib-wrapper .fieldToolbar .btnImageNav:hover {
  border: 1px solid #E9E9E9;
}

.bib-wrapper .toobar .prev-section {
  font-size: 12px;
  position: absolute;
  padding-top: 4.5em;
  right: 70%;
  font-weight: bold;
  color: #34b2a7;
}

.bib-wrapper .toobar input {
  padding: 8px;
  width: 60%;
  font-size: .9em;
  margin: 0 0 0 10px;
  font-family: 'Raleway', sans-serif;
  border: 1px solid #aaaaaa;
}

.bib-wrapper .toobar input.invalid {
  background-color: #ffdddd;
}

.bib-wrapper .zoom-btn {
  float: right;
  margin: -2.25em 0 0 0;
}

.bib-wrapper .zoom-btn .btn {
  background: #34b2a7;
  border: 1px solid #34b2a7;
  border-radius: 3px;
  padding: 3px 10px;
  margin-left: 8px;
  cursor: pointer;
  color: #FFFFFF;
}

.bib-wrapper .zoom-btn .btn:hover {
  color: #34b2a7;
  background: #FFFFFF;
}

.bib-wrapper .thumbnail {
  float: right;
  padding-top: 2em;
}

.bib-wrapper .thumbnail img {
  max-width: 90px;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */

.step.finish {
  background-color: #34b2a7;
}

#in {
  position: absolute;
  top: 20px;
  left: 20px;
  padding-right: 10px;
  padding-left: 10px;
  z-index: 9000;
  background-color: #69D2E7;
  cursor: pointer;
}

#out {
  position: absolute;
  top: 70px;
  left: 20px;
  padding-right: 5px;
  padding-left: 10px;
  z-index: 9000;
  background-color: #A7DBDB;
  cursor: pointer;
}

.no-tasks {
  padding-top: 1em;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
}

.refresh {
  margin: 0 auto;
  text-align: center;
  padding-top: 2em;
  margin-bottom: -3em;
}

.refresh a {
  text-decoration: none;
  color: #34b2a7;
  cursor: pointer;
}

.refresh a:hover {
  color: #34b2a7;
  text-decoration: underline;
}

.btn-social {
  color: white;
  opacity: 0.8;
}

.btn-social:hover {
  color: white;
  opacity: 1;
  text-decoration: none;
}

.btn-facebook {
  background-color: #3b5998;
}

.btn-twitter {
  background-color: #00aced;
}

.btn-linkedin {
  background-color: #0e76a8;
}

.edit {
  float: right;
  margin-left: -2em;
}

.btn-edit {
  background-color: #34b2a7;
  cursor: pointer;
}

.btn-edit:hover {
  background-color: #FFFFFF;
  color: #34b2a7;
  border: 1px solid #34b2a7;
}

/*-- Start Admin Dashboard --*/

.admin-body {
  padding-top: 5em;
  color: #566787;
  background: #f5f5f5;
  font-family: 'Varela Round', sans-serif;
  font-size: 13px;
  height: 100vh;
}

.table-wrapper {
  background: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.table-title {
  padding-bottom: 15px;
  background: #299be4;
  color: #fff;
  padding: 16px 30px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}

.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table-title .btn:hover,
.table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}

.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}

.table-title .btn span {
  float: left;
  margin-top: 2px;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}

table.table tr th:first-child {
  width: 60px;
}

table.table tr th:last-child {
  width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}

table.table th:first-child,
th:last-child {
  text-align: center;
}

table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}

table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}

table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}

table.table td a:hover {
  color: #2196F3;
}

table.table td a.settings {
  color: #2196F3;
}

table.table td form {
  display: inline;
}

table.table td .btn-delete {
  background: none;
  background-color: none;
  border: none;
  color: #F44336;
  padding: 0;
  outline: 0;
}

table.table td a.delete {
  color: #F44336;
}

table.table td i {
  font-size: 19px;
}

table.table .avatar {
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}

.status {
  font-size: 30px;
  margin: 2px 2px 0 0;
  display: inline-block;
  vertical-align: middle;
  line-height: 10px;
}

.text-success {
  color: #10c469;
}

.text-info {
  color: #62c9e8;
}

.text-warning {
  color: #FFC107;
}

.text-danger {
  color: #ff5b5b;
}

.pagination {
  float: right;
  margin: 0 0 5px;
}

.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover {
  color: #666;
}

.pagination > .active > span {
  background-color: #0095ff;
  border-color: #0095ff;
}

.pagination li.active a,
.pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover {
  background: #0397d6;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

/*-- End Admin Dashboard --*/

.col-md-4 img {
  width: 225px;
  height: 225px;
  margin: 0 auto;
  border-radius: 8px;
}

.col-md-8 .alert-info {
  font-family: 'Raleway',sans-serif;
}

.col-md-8 .alert-info h4 {
  margin-top: -4px;
}

.col-md-8 .alert-info i {
  float: left;
  margin-right: .5em;
  font-size: 20px;
}

/*-- Edit Users Styling --*/

input[type="text"],
input[type="tel"],
input[type="url"],
textarea {
  width: 60%;
  max-width: 80%;
  font-family: 'Raleway', sans-serif;
  height: 3em;
  border: 2px solid #34b2a7;
  padding: 1em;
  margin: .5em 0 2em 0;
}

textarea {
  min-height: 15em;
}

input.input1 {
  height: 50px;
  border-radius: .3em;
  padding: 0 .9em;
}

input.input1 + .shadow-input1 {
  border-radius: .3em;
}

textarea.input1 {
  min-height: 10.25em;
  border-radius: .3em;
  padding: 12px .9em;
}

textarea.input1 + .shadow-input1 {
  border-radius: .3em;
}

.wrap-input1 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.input1 {
  display: block;
  width: 80%;
  background: none;
  font-size: .9em;
  font-family: Montserrat-Regular, sans-serif;
  line-height: 1.5;
  color: #1e222c;
}

.shadow-input1 {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 0px 0px;
          box-shadow: 0px 0px 0px 0px;
  color: rgba(87, 184, 70, 0.5);
}

.input1:focus + .shadow-input1 {
  -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
  animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 80px 30px;
            box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

@keyframes anim-shadow {
  to {
    -webkit-box-shadow: 0px 0px 80px 30px;
            box-shadow: 0px 0px 80px 30px;
    opacity: 0;
  }
}

/* This is a compiled file, you should be editing the file in the templates directory */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #34b2a7;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 4px;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  -webkit-box-shadow: 0 0 10px #34b2a7, 0 0 5px #34b2a7;
          box-shadow: 0 0 10px #34b2a7, 0 0 5px #34b2a7;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  border: solid 2px transparent;
  border-top-color: #34b2a7;
  border-left-color: #34b2a7;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

